<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVQoEC2xyWqCan6y72ILrAyYV0iGQz7i4</string>
	<key>GCM_SENDER_ID</key>
	<string>198452602433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mitrevindustries.GeorgeMitrev-Uplift</string>
	<key>PROJECT_ID</key>
	<string>upliftalpha</string>
	<key>STORAGE_BUCKET</key>
	<string>upliftalpha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198452602433:ios:4e0b0d40a71036cb0488c0</string>
</dict>
</plist>